/* Example */
body.wp091e9c5e8037b1cf {
	background: #fbf8fd url('../../../consumer_assets/site_images/sponsored_programs/wallpaper/example.png') no-repeat top center;
}

/* Kelloggs All Bran Pharmacy */
body.wp091e9c5e803788ba {
	background: #fff url('../../../consumer_assets/site_images/sponsored_programs/wallpaper/kelloggs_all_bran_wallpaper_2.jpg') no-repeat top center;
}

/* SpecialK Granola */
body.wp091e9c5e8037b021 {
	background: #fff url('../../../consumer_assets/site_images/sponsored_programs/wallpaper/special_k_granola_3.jpg') no-repeat top center;
}

/* Head & Shoulders */
body.wp091e9c5e80f10709 {
	background: #b7e2f7 url('../../../consumer_assets/site_images/sponsored_programs/wallpaper/head_and_shoulders_3.jpg') no-repeat top center;
}

/* Always Discreet */
body.wp091e9c5e80f72588 {
	background: #fff url('../../../consumer_assets/site_images/sponsored_programs/wallpaper/always_discreet_wallpaper.jpg') no-repeat top center;
}

/* Reckitt Benckiser Nurofen 1 */
body.wp091e9c5e8100f7b8 {
	background: #c62828 url('../../../consumer_assets/site_images/sponsored_programs/wallpaper/nurofen_wallpaper.jpg') no-repeat top center;
}

/* Enzymatica Coldzyme */
body.wp091e9c5e81057a76{
	background: #fff url('../../../consumer_assets/site_images/sponsored_programs/wallpaper/enzymatica_coldzyme_wallpaper_1920.jpg') no-repeat top center;
}

/* Danone Actimel */
body.wp091e9c5e810d3d36 {
	background: #fff url('../../../consumer_assets/site_images/sponsored_programs/wallpaper/danone_actimel_2015.jpg') no-repeat top center;
}

/* Reckitt Benckiser Nurofen 2 */
body.wp091e9c5e810f533d {
	background: #fff url('../../../consumer_assets/site_images/sponsored_programs/wallpaper/reckitt_nurofen_02-2015.jpg') no-repeat top center;
}

/* Nestle Curanail */
body.wp091e9c5e81118016 {
	background: #fff url('../../../consumer_assets/site_images/sponsored_programs/wallpaper/nestle_curanail_wallpaper.jpg') no-repeat top center;
}

/* Nestle Curanail 2 */
body.wp091e9c5e8114b479 {
	background: #fff url('../../../consumer_assets/site_images/sponsored_programs/wallpaper/nestle_curanail_wallpaper_2.jpg') no-repeat top center;
}

/* Nestle Acnecide */
body.wp091e9c5e8117402a {
	background: #fff url('../../../consumer_assets/site_images/sponsored_programs/wallpaper/acnecide_wallpaper.jpg') no-repeat top center;
}

/* Nestle Cetaphil */
body.wp091e9c5e811bd414 {
	background: #fff url('../../../consumer_assets/site_images/sponsored_programs/wallpaper/nestle_cetaphil_wallaper.jpg') no-repeat top center;
}

/* Reckitt Benckiser Nurofen
body.wp091e9c5e812075e5 {
	background: #fff url('../../../consumer_assets/site_images/sponsored_programs/wallpaper/reckitt_nurofen_07-01-2015.jpg') no-repeat top center;
}*/

/* Reckitt Benckiser E45 */
body.wpc091e9c5e812b8bcb {
	background-color: #2b3494;
}