.article-obj-button-cont {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);

    button {
        background-color: #f67f00;
        color: #fff;
        border: 0;
        margin: 0;
        padding: 10px;
        width: 100%;
        font-size: .85em;
    }
}
table.art-seq {
    width: 100%;

    td,th {
        border: 1px #ddd solid;
        padding: 10px;
    }
    th {
        background-color: #f4f4f4;
    }
    td {
        background-color: #fff;

        &.cnt-mid {
            text-align: center;
            vertical-align: middle;
        }
        &.mid {
            vertical-align: middle;
        }
        &.id {
            font-weight: bold;
        }
        span.icon-check {
            color: #f67f00;
            font-size: 1.6em;
        }
        img {
            border-radius: 50%;
        }
    }
}