// Variables
@import 'variables';

.article-list-container {
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid rgb(239,239,239);
  margin-bottom: 10px;
  background-color: #fff;

  .article-list {
    .up-next-header {
      display: block;
      width: 100%;
      margin: 0px;
      padding: 15px;
      background-color: rgb(48,146,209);
      font-family: 'Roboto Slab';
      font-weight: 400;
      font-style: normal;
      font-size: 15px;
      color: #fff;
      border: 0 !important;
    }

    .articles {
      margin: 0px 15px 0px 15px;
    }

    li {
      border-bottom: 1px solid rgb(221,221,221);

      &.hideme {
        display: none !important;
      }
      
      &:last-child {
        border: 0 !important;
      }

      a {
        position: relative;
        left: -15px;
        width: calc(100% + 30px);

        .text {
          font-weight: 400;
          font-style: normal;
          font-size: 16px;
          color: #222222;
          line-height: 24px;
        }
      }
    }

    .articles > li a:hover {
      background-color: rgb(221,221,221);
    }

    a {
      display: block;
      width: 100%;
      padding: 15px;
      color: #000;
    }

    .no-bottom-border {
      border-bottom: 1px solid #fff !important;
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 736px) {
    .article-list-container {
      display: none !important;
    }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
    /* STYLES GO HERE */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    /* STYLES GO HERE */
}
/* Tablets, iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* STYLES GO HERE */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}
/* Small screens ----------- */
@media only screen and (min-width: 676px) {
    /* STYLES GO HERE */
}
/* Small screens : Retina ----------- */
@media only screen and (min-width: 676px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}
/* Tablets, iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* STYLES GO HERE */
}
/* Tablets, iPads (landscape) - Retina ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}
/* Tablets, iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /* STYLES GO HERE */
}
/* Tablets, iPads (portrait) - Retina ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
    /* STYLES GO HERE */
}
/* Desktops and laptops - Retina ----------- */
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}
/* Large screens : Non-Retina ----------- */
@media only screen and (min-width: 1824px) {
    /* STYLES GO HERE */
}
/* Large screens : Retina ----------- */
@media only screen and (min-width: 1824px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}


