// Colors
$light-orange : #FA8D18;
$orange : #f67f00;
$dark-orange : #BD6100;
$light-blue : #f5f9fa;
$blue : #1295cc;
$dark-blue : #0F7194;
$black : #222222;
$light-grey : #ebebeb;
$medium-grey : #aaaaaa;
$dark-grey : #333333;

// Link Colors
$link-blue : #1295cc;

// Text Shadows
$text-shadow : 0 0 7px rgba(0,0,0,.5);