#wbmd-slidein-menu {
    position: fixed;
    -webkit-backface-visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6000000; /* full screen overlay */
    -webkit-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%);
    transition: all 350ms ease-in-out;
    .wbmd-menu-close {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background-color: #009be8;
        z-index: 1;
        cursor: pointer;
        
        span, span:before, span:after {
            cursor: pointer;
            border-radius: 50%;
            height: 6px;
            width: 6px;
            background: #fff;
            position: absolute;
            display: block;
            content: "";
        }

        span {
            top: 55%;
            left: 58%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            background-color: transparent;

            &:before, &:after {
                top: 0;
                width: 30px;
                height: 2px;
                border-radius: 2px;
            }

            &:before {
                -webkit-transform: translate(-50%,-50%) rotate(45deg);
                -ms-transform: translate(-50%,-50%) rotate(45deg);
                transform: translate(-50%,-50%) rotate(45deg);
            }

            &:after {
                -webkit-transform: translate(-50%,-50%) rotate(-45deg);
                -ms-transform: translate(-50%,-50%) rotate(-45deg);
                transform: translate(-50%,-50%) rotate(-45deg);
            }
        }
    }
    .wbmd-menu-content {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        .attrib_right_fmt {
            clear: both !important;
        }
    }
}

.menu-open #wbmd-slidein-menu {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.wbmd-toolbar-menu {
    width: 100%;

    &.stick {
        position: fixed;
        -webkit-backface-visibility: hidden;
        top: 0;
        left: 0;
        right: 0;
        min-width: 100%;
        background-color: #ffffff;
        z-index: 10000;
        box-shadow: 0 4px 2px -2px #e2e3e4;

        .tools {
            position: relative;
            width: 98%;
            max-width: 980px;
            max-height: 45px;
            margin: 0 auto;
            overflow: hidden;

            .social-share-tools {
                margin: 0;
            }

            .wbmd-kabob {
                top: 0;
                margin-left: 20px;
            }

            .attrib_right_fmt {
                margin: 0;

                .attrib_content {
                    padding: 0;
                }

                img {
                    max-height: 45px;
                }
            }
        }
    }

    &.clone {
        visibility: hidden;
        display: none;
    }

    .tools {
        width: 98%;

        .wbmd-kabob {
            position: relative;
            display: block;
            float: right;
            top: 8px;
            right: 0;
            width: 45px;
            height: 45px;
            background-color: #009be8;
            cursor: pointer;

            span, span:before, span:after {
                cursor: pointer;
                border-radius: 50%;
                height: 6px;
                width: 6px;
                background: #fff;
                position: absolute;
                display: block;
                content: "";
            }

            span {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                &:before {
                    top: -10px;
                }
                &:after {
                    bottom: -10px;
                }
            }
        }
    }
}

body.menu-open {
    position: static;
}

.no-scroll {
    overflow: hidden !important;
}

.scroll {
    overflow: auto !important;
}


/* Tablets, iPads (portrait and landscape) ----------- */

@media only screen and (min-width: 320px) and (max-width: 736px) {
    .wbmd-kabob {
        top: 0px !important;
    }
}

@media only screen and (max-width: 767px) {
    .wbmd-toolbar-menu {
        .tools {
            width: 100% !important;
        }
    }
}

@media only screen and (min-width: 768px) {
    /* STYLES GO HERE */
    .wbmd-kabob {
        display: none !important;
    }
}
