#wbmd-slidein-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2000001; /* cover sticky masthead if present */
    -webkit-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%);
    transition: all 350ms ease-in-out;
    .wbmd-menu-close {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background-color: #009be8;
        z-index: 1;
        
        span, span:before, span:after {
            cursor: pointer;
            border-radius: 50%;
            height: 6px;
            width: 6px;
            background: #fff;
            position: absolute;
            display: block;
            content: "";
        }

        span {
            top: 55%;
            left: 58%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            background-color: transparent;

            &:before, &:after {
                top: 0;
                width: 30px;
                height: 2px;
                border-radius: 2px;
            }

            &:before {
                -webkit-transform: translate(-50%,-50%) rotate(45deg);
                -ms-transform: translate(-50%,-50%) rotate(45deg);
                transform: translate(-50%,-50%) rotate(45deg);
            }

            &:after {
                -webkit-transform: translate(-50%,-50%) rotate(-45deg);
                -ms-transform: translate(-50%,-50%) rotate(-45deg);
                transform: translate(-50%,-50%) rotate(-45deg);
            }
        }
    }
    .wbmd-menu-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        .attrib_right_fmt {
            clear: both !important;
        }
    }
}

.menu-open #wbmd-slidein-menu {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.social-share-tools {
    position: relative;
    &.stick {
        position: absolute;
        .plugin-socialshare {
            position: fixed;
            top: 0;
            background-color: #ffffff;
            z-index: 10000;
        }
    }
    .plugin-socialshare {
        width: 100%;
        .wbmd-kabob {
            position: relative;
            display: block;
            float: right;
            top: 0;
            right: 0;
            width: 45px;
            height: 45px;
            margin-left: 20px;
            background-color: #009be8;
            span, span:before, span:after {
                cursor: pointer;
                border-radius: 50%;
                height: 6px;
                width: 6px;
                background: #fff;
                position: absolute;
                display: block;
                content: "";
            }

            span {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                &:before {
                    top: -10px;
                }
                &:after {
                    bottom: -10px;
                }
            }
        }
    }
}

body.menu-open {
    overflow: hidden;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}

.scroll {
    overflow-y: auto;
    overflow-x: hidden;
}


/* Tablets, iPads (portrait and landscape) ----------- */

@media only screen and (min-width: 768px) {
    /* STYLES GO HERE */
    .wbmd-kabob {
        display: none !important;
    }
}
