.wbmd-masonry-container {
  max-width: 980px;
  width: 100%;
  margin-top: 10px;
}

.wbmd-masonry-grid {
  margin: 0 auto !important;
}

#rightAd_rdr.wbmd-grid-item {
  width: 320px !important;
}

div.wbmd-grid-item {
  min-height: 308px;
  float: left;
  background-color: #fff;
  margin: 0 0 10px 0 !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.125);
}
div.wbmd-grid-item.tile-width {
  width: 320px;
}
div.wbmd-grid-item.tile-width-x2 {
  width: 650px;
}
div.wbmd-grid-item.tile-width-x3 {
  width: 980px;
}
div.wbmd-grid-item.ad {
  text-align: center;
}
div.wbmd-grid-item.ad.adLabel {
  font-size: 10px;
  color: #ddd;
  display: block;
  padding: 2px 0;
}
div.wbmd-grid-item.ad img {
  width: auto !important;
  margin: 0 auto;
}
div.wbmd-grid-item.x2tall {
  height: 630px;
}
div.wbmd-grid-item.col-2 {
  width: 650px;
}
div.wbmd-grid-item.icm_wrap, div.wbmd-grid-item.dbm_wrap {
  border: 0 !important;
}
div.wbmd-grid-item:not(.icm_wrap):not(.dbm_wrap) img {
  width: 100%;
  display: block;
}
div.wbmd-grid-item a p {
  padding: 10px 15px;
  color: #333;
}
div.wbmd-grid-item.visited {
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .5s ease-in-out;
  opacity: 0.5;
}
div.wbmd-grid-item.visited:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
  opacity: 1;
}

@media only screen and (max-width: 320px) {
  /* Styles */
  .wbmd-masonry-container .wbmd-masonry-grid {
    width: auto !important;
  }
  .wbmd-masonry-container .wbmd-masonry-grid #rightAd_rdr.wbmd-grid-item {
    width: 100% !important;
  }
  .wbmd-masonry-container .wbmd-masonry-grid .wbmd-grid-item {
    width: 100% !important;
    min-height: inherit;
    height: auto;
  }
}
@media only screen and (max-width: 736px) and (min-width: 320px) {
  /* Styles */
  .wbmd-masonry-container .wbmd-masonry-grid {
    width: auto;
    position: relative;
    margin: 0 15px !important;
  }
  .wbmd-masonry-container .wbmd-masonry-grid #rightAd_rdr.wbmd-grid-item {
    width: 100% !important;
  }
  .wbmd-masonry-container .wbmd-masonry-grid .wbmd-grid-item {
    width: 100%;
    position: relative;
    min-height: inherit;
    height: auto;
    float: none;
    margin: 0 0 20px 0 !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.125);
  }
  .wbmd-masonry-container .wbmd-masonry-grid .wbmd-grid-item.col-2, .wbmd-masonry-container .wbmd-masonry-grid .wbmd-grid-item.x2wide {
    width: 100%;
  }
}
@media only screen and (max-width: 736px) and (min-width: 320px) and (orientation: portrait) {
  /* Styles */
  .wbmd-masonry-container .wbmd-masonry-grid {
    width: auto !important;
    margin: 0 15px !important;
  }
  .wbmd-masonry-container .wbmd-masonry-grid #rightAd_rdr.wbmd-grid-item {
    width: 100% !important;
  }
  .wbmd-masonry-container .wbmd-masonry-grid .wbmd-grid-item {
    width: 100% !important;
    min-height: auto;
    height: auto;
  }
}
@media only screen and (max-width: 736px) and (min-width: 320px) and (orientation: landscape) {
  /* Styles */
  .wbmd-masonry-container .wbmd-masonry-grid {
    width: auto !important;
    margin: 0 15px !important;
  }
  .wbmd-masonry-container .wbmd-masonry-grid #rightAd_rdr.wbmd-grid-item {
    width: 100% !important;
  }
  .wbmd-masonry-container .wbmd-masonry-grid .wbmd-grid-item {
    width: 100% !important;
    min-height: auto;
    height: auto;
  }
}
