.wbmd-masonry-container {
  max-width: 980px;
  width: 100%;
  margin-top: 10px;
}

.wbmd-masonry-grid {
  margin: 0 auto !important;
}

#rightAd_rdr.wbmd-grid-item {
  width: 320px !important;
}

div.wbmd-grid-item {
  min-height: 308px;
  margin: 0 0 10px 0 !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.125);
}
div.wbmd-grid-item.tile-width {
  width: 320px;
}
div.wbmd-grid-item.tile-width-x2 {
  width: 650px;
}
div.wbmd-grid-item.tile-width-x3 {
  width: 980px;
}
div.wbmd-grid-item a p {
  padding: 10px 15px;
  color: #333;
}

div.wbmd-grid-item:not(.dbm_wrap):not(.icm_wrap) {
  background-color: #fff;
}
div.wbmd-grid-item:not(.dbm_wrap):not(.icm_wrap) img {
  width: 100%;
}
div.wbmd-grid-item:not(.dbm_wrap):not(.icm_wrap).visited {
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .5s ease-in-out;
  opacity: 0.5;
}
div.wbmd-grid-item:not(.dbm_wrap):not(.icm_wrap).visited:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
  opacity: 1;
}

div.icm_wrap, div.dbm_wrap {
  border: 0 !important;
}
div.icm_wrap img, div.dbm_wrap img {
  width: auto !important;
}

/* BEGIN ---- ICM Responsive FIX */
@media only screen and (min-width: 320px) and (max-width: 480px), screen and (min-width: 320px) and (max-width: 568px), screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
  /* STYLES GO HERE */
  div.icm_wrap .icm_image, div.dbm_wrap .icm_image {
    padding: 15px 0 0 0;
    float: none;
  }
}
/* iPhone 6 - Landsacape */
@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
  /* STYLES GO HERE */
  div.icm_wrap .icm_image, div.dbm_wrap .icm_image {
    padding: 15px 0 0 18px;
    float: left;
  }
}
/* END ---- ICM Responsive FIX */
@media only screen and (max-width: 320px) {
  /* Styles */
  .wbmd-masonry-container .wbmd-masonry-grid {
    width: auto !important;
  }
  .wbmd-masonry-container .wbmd-masonry-grid #rightAd_rdr.wbmd-grid-item {
    width: 100% !important;
  }
  .wbmd-masonry-container .wbmd-masonry-grid .wbmd-grid-item {
    width: 100% !important;
    min-height: inherit;
    height: auto;
  }
}
@media only screen and (max-width: 675px) and (min-width: 320px) {
  /* Styles */
  .wbmd-masonry-container .wbmd-masonry-grid {
    width: auto;
    position: relative;
    margin: 0 15px !important;
  }
  .wbmd-masonry-container .wbmd-masonry-grid #rightAd_rdr.wbmd-grid-item {
    width: 100% !important;
  }
  .wbmd-masonry-container .wbmd-masonry-grid .wbmd-grid-item {
    width: 100%;
    position: relative;
    min-height: inherit;
    height: auto;
    float: none;
    margin: 0 0 20px 0 !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.125);
  }
}
@media only screen and (max-width: 675px) and (min-width: 320px) and (orientation: portrait) {
  /* Styles */
  .wbmd-masonry-container .wbmd-masonry-grid {
    width: auto !important;
    margin: 0 15px !important;
  }
  .wbmd-masonry-container .wbmd-masonry-grid #rightAd_rdr.wbmd-grid-item {
    width: 100% !important;
  }
  .wbmd-masonry-container .wbmd-masonry-grid .wbmd-grid-item {
    width: 100% !important;
    min-height: auto;
    height: auto;
  }
}
@media only screen and (max-width: 675px) and (min-width: 320px) and (orientation: landscape) {
  /* Styles */
  .wbmd-masonry-container .wbmd-masonry-grid {
    width: auto !important;
    margin: 0 15px !important;
  }
  .wbmd-masonry-container .wbmd-masonry-grid #rightAd_rdr.wbmd-grid-item {
    width: 100% !important;
  }
  .wbmd-masonry-container .wbmd-masonry-grid .wbmd-grid-item {
    width: 100% !important;
    min-height: auto;
    height: auto;
  }
}
