.harmony #chrome {
  margin-top: 0px;
  width: 98%;
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}

.harmony #bannerAd_rdr {
  margin-top: 0px;
  position: static;
}

#s3 {
  width: auto;
  float: none;
  display: table-cell;
  vertical-align: top;
  padding-right: 15px;
}

#s4 {
  float: none;
  width: 320px;
  display: table-cell;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* STYLES GO HERE */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* STYLES GO HERE */
  .device-type::after {
    content: "Smartphone - Landscape";
  }

  #bannerAd_rdr {
    display: none !important;
  }

  #s3 {
    padding-right: 0px !important;
  }

  #s4 {
    display: inline !important;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* STYLES GO HERE */
  .device-type::after {
    content: "Smartphone - Portrait";
  }

  #bannerAd_rdr {
    display: none !important;
  }

  #s3 {
    padding-right: 0px !important;
  }

  #s4 {
    display: inline !important;
  }
}
/* Tablets, iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* STYLES GO HERE */
  #s3 {
    padding-right: 0px !important;
  }

  .harmony #bannerAd_rdr {
    display: block !important;
  }

  #s3 {
    padding-right: 15px !important;
  }

  #s4 {
    display: table-cell !important;
  }
}
/* Tablets, iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* STYLES GO HERE */
  .device-type::after {
    content: "iPad - Landscape";
  }
}
/* Tablets, iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* STYLES GO HERE */
  .device-type::after {
    content: "iPad - Portrait";
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
  /* STYLES GO HERE */
  .device-type::after {
    content: "Desktop / Laptop";
  }

  .harmony #bannerAd_rdr {
    display: block !important;
  }

  #s3 {
    padding-right: 15px !important;
  }

  #s4 {
    display: table-cell !important;
  }
}
/* Large screens : Non-Retina ----------- */
@media only screen and (min-width: 1824px) and (-webkit-min-device-pixel-ratio: 1) {
  /* STYLES GO HERE */
  .device-type::after {
    content: "Large Screen - Non-Retina";
  }

  .harmony #bannerAd_rdr {
    display: block !important;
  }

  #s4 {
    display: table-cell !important;
  }
}
/* Large screens : Retina ----------- */
@media only screen and (min-width: 1824px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  /* STYLES GO HERE */
  .device-type::after {
    content: "Large Screen - Retina";
  }

  .harmony #bannerAd_rdr {
    display: block !important;
  }

  #s4 {
    display: table-cell !important;
  }
}
