.harmony #chrome {
    margin-top: 0px;
    width: 98%;
    max-width: 980px;
    margin: 0 auto;
    position: relative;
}
.harmony #bannerAd_rdr {
    margin-top: 0px;
    position: static;
}
#s3 {
    width: auto;
    float: none;
    display: table-cell;
    vertical-align: top;
    padding-right: 15px;
}
#s4 {
    float: none;
    width: 320px;
    display: table-cell;
}