/*  =EDITORIAL DISCLAIMER
------------------------------------------------------- */
.ed_disclaimer {
	font-size: 1.5rem;
	margin: 0 0 10px;
	line-height: 22px;
	font-family: "Roboto Condensed",Arial,sans-serif;
	color: #3b3b3c;
}