$blue_color: #1b88bf;

.wbmd-restricted-email {
	clear: both;
    background-color: #fff;
    position: relative;
    width: 100%;
    border-bottom: 0;
    padding: 25px 15px;
    font-family: 'Lato-Regular', Arial, sans-serif;
    box-sizing: border-box;
    margin-bottom: 20px;

    .heading {
    	font-family: 'Lato-Bold', Arial, sans-serif;
        font-size: 28px;
        line-height: 30px;
        color: #333132;
    }

    .description {
    	font-size: 18px;
        color: #3b3b3c;
    	line-height: 21px;
    	margin-top: 15px;
    }

    .info {
    	font-size: 16px;
        font-weight: 600;
    	line-height: 21px;
    	margin-top: 15px;
    }

    form {
    	margin-top: 25px;
        font-size: 0;

    	input, button {
    		display: inline;
    		font-family: 'Lato-Regular', Arial, sans-serif;
            font-size: 16px;
            line-height: 21px;
    		padding: 10px;
    		font-weight: 400;
    	}

        .errors {
            color: #ff0000;
        }

    	input[type=email] {
            color: #808080;
            background-color: #fff;
    		border: 1px solid #eee;
            width: calc(75% - 2px);
    	}

    	button[type=submit] {
            background-color: $blue_color;
    		border: 0;
    		border-top: 1px solid $blue_color;
    		border-bottom: 1px solid $blue_color;
    		margin-left: 10px;
    		color: #fff;
            width: calc(25% - 10px);
    	}
    }

    .disclaimer {
        font-size: 14px;
        line-height: 21px;
        margin-top: 15px;
        color: #3b3b3c;
    }

    .modal {
        margin-top: 15px;
    }

    .modalBusy, .modalDone {
        display: none;
    }

    .modalBusy {
        .loading_medium {
            position: relative;
            display: table-cell;
            padding-left: 63px;
            vertical-align: middle;
            text-indent: 0;
            width: 100%;
        }
    }
}