.footer {
	width: 100%;
	margin-top: 20px;
	margin-bottom: -20px;
	background-color: #f9f9f9;
}
.footer-container {
	width: 98%;
	padding: 30px 10px;
	max-width: 980px;
	margin: 0 auto;
	position: relative;
	text-align: center;

	div {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}
	p {
		color: #333;
		margin-bottom: 15px;
		font-size: 1.4rem;
	}
	a {
		font-size: 1.4rem;
	}

	.footer-social {

		p {
			font-size: 1.6rem;
		}
		ul {
			display: inline-block;
			vertical-align: middle;

			li {
				float: left;
				margin-right: 30px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
		.footer-social-icon {
			background: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/mobile/footer-social-sprite.png) no-repeat;
			background-size: cover;
			text-indent: -9999px;
			display: inline-block;
			line-height: 30px;
			width: 30px;

			&.tw {
				background-position: 0 -34px;
			}
			&.pt {
				background-position: 0 -67px;
			}
		}
	}
	.disclaimers {
		.logo_AdChoices {
			color: #1295cc;
			padding: 5px 25px 5px 0;
			background: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/miscellaneous/privacy/logo_AdChoices_mobile.png) right center no-repeat;
			background-size: 20px;
			cursor: pointer;
		}
	}
	.links {
		ul {
			display: inline-block;
			vertical-align: middle;

			li {
				display: inline-block;

				a {
					//margin-right: 20px;

				}
				&:after {
					content: '|';
					margin: 0 8px;
					color: #ccc;
				}
				&:last-child {
					&:after {
						content: '';
						margin: 0;
					}
				}
			}
		}
	}
	.copyright {
		br {
			display: none;
		}
	}
}
#aiq {
	display: none;
}

.harmony.wide_1240 .footer-container {
    max-width: 1240px;
}

/* Media Queries */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 736px) {
	.footer-container {
		padding: 20px 20px;

		div {
			margin-bottom: 20px;
		}
		p,a {
			font-size: 1.2rem;
		}
		.footer-social {
			p {
				font-size: 1.4rem;
			}
		}
		.copyright {
			br {
				display: block;
			}
		}
	}
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
	/* STYLES GO HERE */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	/* STYLES GO HERE */
}
/* Tablets, iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	/* STYLES GO HERE */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}
/* Small screens ----------- */
@media only screen and (min-width: 676px) {
	/* STYLES GO HERE */
}
/* Small screens : Retina ----------- */
@media only screen and (min-width: 676px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}
/* Tablets, iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	/* STYLES GO HERE */
}
/* Tablets, iPads (landscape) - Retina ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}
/* Tablets, iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	/* STYLES GO HERE */
}
/* Tablets, iPads (portrait) - Retina ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
	/* STYLES GO HERE */
}
/* Desktops and laptops - Retina ----------- */
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}
/* Large screens : Non-Retina ----------- */
@media only screen and (min-width: 1824px) {
	/* STYLES GO HERE */
}
/* Large screens : Retina ----------- */
@media only screen and (min-width: 1824px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}
