#s5 {
	width: 160px;
	float: none;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-660px);
	display: none;

	&.stuck {
		position: fixed;
		top: 0;
	}
}

@media only screen and (min-width: 767px) and (max-width: 980px) {
	#s3 {
		padding-left: 160px;
	}
	#s5 {
		transform: translateX(0px);
		left: 0;
	}
}
@media only screen and (min-width: 980px) and (max-width: 1320px) {
	#s3 {
		padding-left: 160px;
	}
	#s5 {
		transform: translateX(-500px);
	}
}

// Variables
@import '../partials/variables';

// Media Queries
/* Smartphones (portrait and landscape) ----------- */
@media only screen and #{$smartphone} {
	#s3 {
		padding-left: 0;
	}
	#s5 {
		display: none;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and #{$smartphone_landscape} {
	/* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen and #{$smartphone_portrait} {
	/* STYLES GO HERE */
}

/* Tablets, iPads (portrait and landscape) ----------- */
@media only screen and #{$ipad} {
	/* STYLES GO HERE */
}

@media only screen and #{$ipad} and #{$retina} {
	/* STYLES GO HERE */
}

/* Small screens ----------- */
@media only screen and #{$small_screen} {
	/* STYLES GO HERE */
}

/* Small screens : Retina ----------- */
@media only screen and #{$small_screen} and #{$retina} {
	/* STYLES GO HERE */
}

/* Tablets, iPads (portrait and landscape) ----------- */
@media only screen and #{$ipad} {
	/* STYLES GO HERE */
}

@media only screen and #{$ipad} and #{$retina} {
	/* STYLES GO HERE */
}

/* Tablets, iPads (landscape) ----------- */
@media only screen and #{$ipad} and (orientation : landscape) {
	/* STYLES GO HERE */
}

/* Tablets, iPads (landscape) - Retina ----------- */
@media only screen and #{$ipad} and (orientation : landscape) and #{$retina} {
	/* STYLES GO HERE */
}

/* Tablets, iPads (portrait) ----------- */
@media only screen and #{$ipad} and (orientation : portrait) {
	/* STYLES GO HERE */
}

/* Tablets, iPads (portrait) - Retina ----------- */
@media only screen and #{$ipad} and (orientation : portrait) and #{$retina} {
	/* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen and #{$desktop_laptop} {
	/* STYLES GO HERE */
}

/* Desktops and laptops - Retina ----------- */
@media only screen and #{$desktop_laptop} and #{$retina} {
	/* STYLES GO HERE */
}

/* Large screens : Non-Retina ----------- */
@media only screen and #{$large_screen} {
	/* STYLES GO HERE */
}

/* Large screens : Retina ----------- */
@media only screen and #{$large_screen} and #{$retina} {
	/* STYLES GO HERE */
}