.loading_medium_png {
	background:url('http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/modules/loading_medium.png');
	height:53px;
	width:53px;
	margin: 0 auto;
	animation-name: rotate;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.loading_medium_png span {
	display:none;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}
.slideshow {
	position: relative;
	display: none;
	margin: 0 0 1em;
	font-size: 1rem;
}
.slideshow .slide {
	background: #fff;
	text-align: center;
}
.slideshow .slide .image {
	display: inline-block;
	position: relative;
}
.slideshow .slide .image:before,
.slideshow .slide .image:after {
	content: "";
	background: #fff;
	width: 3px;
	height: 100%;
	position: absolute;
	top: 0;
}
.slideshow .slide .image:before {
	left: -3px;
}
.slideshow .slide .image:after {
	right: -3px;
}
.slideshow .slide img {
	width: 100%;
}
.slideshow .slide img:before {
	content: "hello";
	border-right: 5px solid #fff;
	border-left: 5px solid #fff;
}
.slideshow .slide .caption {
	background: #fff;
	padding: 20px;
	text-align: left;
}
.slideshow .slide .caption h3 {
	font-family: Lato, Arial, sans-serif;
	color: #222;
	margin: 0;
	font-size: 2.4em;
}
.slideshow .slide .caption p {
	color: #222;
	font-size: 2em;
	margin: 0 0 1em;
}
.slideshow .bx-controls .bx-prev,
.slideshow .bx-controls .bx-next  {
	font-family: icons;
	font-size: 4.0rem;
	line-height: 5.0rem;
	position: absolute;
	z-index: 2;
	top: 0px;
	height: 60px;
	padding: 0 10px;
	display: block;
	text-decoration: none !important;
}
.slideshow .bx-controls .bx-prev:before,
.slideshow .bx-controls .bx-next:before  {
	color: #000;
	background: rgba(255, 255, 255, .6);
	border-radius: 30px;
	height: 60px;
	width: 60px;
	line-height: 60px;
	display: block;
	text-align: center;
	transition: background .5s, color .5s;
}
.slideshow .bx-controls .bx-prev {
	left: 0;
	width: 80px;
}
.slideshow .bx-controls .bx-prev:before {
	content: "\e61a";
	padding-right: 5px;
}
.slideshow .bx-controls .bx-next {
	right: 0;
	width: calc(100% - 80px);
}
.slideshow .bx-controls .bx-next:before {
	content: "\e61b";
	position: absolute;
	right: 10px;
	padding-left: 5px;
}
.slideshow .bx-controls .bx-prev:hover:before,
.slideshow .bx-controls .bx-next:hover:before  {
	background: rgba(0, 0, 0, .7);
	color: #fff;
}
.slideshow .bx-controls .bx-prev label,
.slideshow .bx-controls .bx-next label {
	display: block;
	text-indent: -10000px;
}
.slideshow .touch-instructions {
	display: none;
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	height: 20px;
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	line-height: 20px;
}
.slideshow .slide .caption .touch-slide-count {
	display: none;
	font-size: 1.6em;
	color: #666;
	text-transform: uppercase;
	margin: 0 0 0.2em;
}
.touch .slideshow .touch-instructions,
.touch .slideshow .slide .caption .touch-slide-count {
	display: block;
}
.slideshow .slide-count {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(102, 102, 102, .8);
	padding: 10px 15px;
	color: #fff;
	font-size: 1.6em;
}
.touch .slideshow .slide-count,
.touch .slideshow .bx-controls {
	display: none;
}
.slideshow .slide-end {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	top: 0;
	z-index: 2;
	padding: 100px 20% 0;
}
.slideshow .slide-end .loading_medium_png {
	margin: 0 auto;
}
.slideshow .slide-end h4 {
	color: #fff;
	font-family: Lato, Arial, sans-serif;
	font-size: 1.8em;
	margin: 35px 0 0;
}
.slideshow .slide-end h4 .next-art {
	font-size: 1.33em;
}
.sources {
	margin: 20px 0;
}
.reviewer {
	margin-top: 10px;
}
@media only screen and (min-width: 676px) and (max-width: 915px), only screen and (max-width: 530px) {
	.slideshow .slide .caption p {
		font-size: 1.6em;
	}
	.slideshow .slide-end {
		padding: 40px 20% 0;
	}
	.slideshow .slide-end h4 {
		font-size: 1.3em;
		margin: 10px 0 0;
		line-height: 2.0em;
	}
	.slideshow .slide-end h4 .next-art {
		font-size: 1.5em;
	}
}
@media only screen and (max-width: 767px) {
	.sources {
		margin: 20px 10px;
	}
}