.fed-video .desc {
	margin: 1em 0;
	padding: 1.5em .5em;
	background: #fff;
}
.fed-video .desc p {
	font-size: 1.6em;
	margin: 0 0 1.5em;

}
@media only screen and (max-width: 767px) {
	.fed-video .desc {
		padding: 1.5em 1em;
	}
}