.loading_medium_png {
	background:url('http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/modules/loading_medium.png');
	height:53px;
	width:53px;
	margin: 0 auto;
	animation-name: rotate;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.loading_medium_png span {
	display:none;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}

.slideshow {
	position: relative;
	display: none;
	margin: 0 0 1em;
}
.slideshow .slide img {
	width: 100%;
}
.slideshow .slide .caption {
	background: #f7f7f7;
	padding: 20px;
	border: 1px solid #eee;
}
.slideshow .slide .caption h3 {
	font-family: Lato,Arial,sans-serif;
	color: #222;
	margin: 0;
	font-size: 2.4rem;
}
.slideshow .slide .caption p {
	color: #222;
	font-size: 2rem;
	margin: 0 0 1em;
}
.slideshow .bx-controls .bx-prev,
.slideshow .bx-controls .bx-next  {
	position: absolute;
	z-index: 2;
	top: 150px;
	text-indent: -10000px;
	background: url(../../../consumer_assets/site_images/modules/slideshow/funded-editorial/arrows.png);
	height: 48px;
	width: 34px;
}
.slideshow .bx-controls .bx-prev {
	left: 5px;
}
.slideshow .bx-controls .bx-next {
	right: 5px;
	background-position: 100%;
}
.slideshow .touch-instructions {
	display: none;
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	height: 20px;
	width: 100%;
	text-align: center;
	font-size: 1.3rem;
	line-height: 20px;
}
.slideshow .slide .caption .touch-slide-count {
	display: none;
	font-size: 1.6rem;
	line-height: 2.0rem;
	color: #666;
	text-transform: uppercase;
	margin: 0 0 0.2em;
}
.touch .slideshow .touch-instructions,
.touch .slideshow .slide .caption .touch-slide-count {
	display: block;
}
.slideshow .slide-count {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(102, 102, 102, .8);
	padding: 10px 15px;
	color: #fff;
}
.touch .slideshow .slide-count {
	display: none;
}
.slideshow .slide-end {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	top: 0;
	z-index: 2;
	padding: 100px 20% 0;
}
.slideshow .slide-end .loading_medium_png {
	margin: 0 auto;
}
.slideshow .slide-end h4 {
	color: #fff;
	font-family: Lato,Arial,sans-serif;
	font-size: 1.8rem;
	margin: 35px 0 0;
	line-height: 2.5rem;
}
.slideshow .slide-end h4 .next-art {
	font-size: 2.4rem;
}

@media only screen and (min-width: 676px) and (max-width: 915px), only screen and (max-width: 530px) {
	.slideshow .slide .caption p {
		font-size: 1.6rem;
	}
	.slideshow .slide-end {
		padding: 40px 20% 0;
	}
	.slideshow .slide-end h4 {
		font-size: 1.3rem;
		margin: 10px 0 0;
		line-height: 2.0rem;
	}
	.slideshow .slide-end h4 .next-art {
		font-size: 1.5rem;
	}
}
.reviewer {
	margin-top: 10px;
}