.premium-video-container {
	background-color: inherit !important;
}
.fed-video {
	position: relative;
	font-size: 1rem;
}
.fed-video .desc {
	margin: 1em 0;
	padding: 20px 0 0;
	color: #333132;
}
.fed-video .desc p {
	font-size: 1.6em;
	line-height: 24px;
	margin: 0 0 26px;
	font-family: Chivo,Arial,sans-serif;
}
.fed-video .vid-byline  {
	color: #333132;
}
.fed-video .vid-byline p {
	font-size: 1.6em;
	margin: 0 0 1.5em;
	font-family: "Roboto Condensed",Arial,sans-serif;
}
.fed-video .video-end {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	top: 0;
	z-index: 20;
	padding: 70px 20% 0;
}
.fed-video .video-end h4 {
	color: #ccc;
	font-family: "Roboto Condensed",Arial,sans-serif;
	font-size: 1.6em;
	margin: 0;
	text-transform: uppercase;
}
.fed-video .video-end img {
	float: left;
	width: 110px;
	height: 70px;
	margin: 8px 13px 20px 0;
}
.fed-video .video-end .next-art {
	font-size: 2.8em;
	font-family: Lato, Arial, sans-serif;
	color: #fff;

}
.fed-video .video-end .loading_medium_png {
	margin: 15px auto 0;
}
.fed-video a.wbmd-related-videos {
	border-radius: 3px;
	border: 1px solid #187AAB;
	display: inline-block;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 16px;
	margin: 20px 0;
	padding: 6px 14px;
}

.fed-video a.wbmd-related-videos:hover {
  background-color: #187AAB;
  color: #ffffff !important;
  text-decoration: none;
}

/* Loading Spinner */
.loading_medium_png {
	background:url('http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/modules/loading_medium.png');
	height:53px;
	width:53px;
	margin: 0 auto;
	animation-name: rotate;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.loading_medium_png span {
	display:none;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}


/* Media Queries ------------------- */

@media only screen and (max-width: 660px) and (min-width: 485px), screen and (min-width: 830px) and (max-width: 999px) {
	.fed-video .video-end {
		padding-top: 50px;
	}
	.fed-video .video-end .next-art {
		font-size: 2.0em;
	}
}

@media only screen and (max-width: 484px), screen and (min-width: 768px) and (max-width: 829px) {
	.fed-video .video-end {
		padding-top: 30px;
	}
	.fed-video .video-end .next-art {
		font-size: 1.6em;
	}
}
@media only screen and (max-width: 430px) {
	.fed-video .video-end {
		padding: 30px 10% 0;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.fed-video .desc {
		padding: 20px 10px 0;
	}
	.fed-video .vid-byline {
		padding: 0 10px;
	}
	.fed-video a.wbmd-related-videos{
		margin: 20px 10px;
	}
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) and (max-width: 767px) {
	/* STYLES GO HERE */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	/* STYLES GO HERE */
}
/* Tablets, iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	/* STYLES GO HERE */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}
/* Small screens ----------- */
@media only screen and (min-width: 676px) {
	/* STYLES GO HERE */
}
/* Small screens : Retina ----------- */
@media only screen and (min-width: 676px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}
/* Tablets, iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	/* STYLES GO HERE */
}
/* Tablets, iPads (landscape) - Retina ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}
/* Tablets, iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	/* STYLES GO HERE */
}
/* Tablets, iPads (portrait) - Retina ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
	/* STYLES GO HERE */
}
/* Desktops and laptops - Retina ----------- */
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}
/* Large screens : Non-Retina ----------- */
@media only screen and (min-width: 1824px) {
	/* STYLES GO HERE */
}
/* Large screens : Retina ----------- */
@media only screen and (min-width: 1824px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}