.isi {
	font-size: 1rem;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	top: 100%;
	margin-top: -180px;
	width: 100%;
	transition: all 500ms;
	z-index: 5999999;

	&.open {
		top: 20%;
		margin-top: 0 !important;
	}
	&.hide {
		margin-top: 0 !important;
	}
	&.open.hide {
		top: 100%;
	}

	.isi-btn,
	.isi-container {
		width: 98%;
		max-width: 980px;
		margin: 0 auto;
		overflow: auto;
	}
	.isi-btn {
		overflow: hidden;
	}
	.isi-container {
		height: calc(100% - 38px);
		position: relative;
		background-color: #fff;
		padding: 15px 10px 50px;
		border: 1px #B7B4AE solid;
		border-bottom: 0;
	}

	.isi-toggle {
		float: right;
		padding: 10px 43px 10px 20px;
		background-color: #3092d1;
		color: #fff;
		position: relative;
		font-size: 1.6em;

		&:hover,
		&:focus {
			text-decoration: none;
		}

		.isi-toggle-arw {
			font-size: 1.4em;
			position: absolute;
			top: 50%;
			right: 16px;
			transform: translateY(-45%);
		}
	}
	.isi-content {

		h3 {
			font-family: Lato,Arial,sans-serif;
			margin-bottom: 15px;
			color: #743470;
		}
		p {
			font-size: 1.4em;
			line-height: 22px;
			margin-bottom: 20px;
			color: #3a3b3c;
		}
	}
}
.isi-rr {
	margin-bottom: 25px;
	font-size: 1rem;

	.isi-rr-content {
		height: 350px;
		overflow: auto;
		padding: 10px;
		border: 1px #EAEAEA solid;

		h3 {
			font-family: Lato,Arial,sans-serif;
			margin-bottom: 15px;
			color: #743470;
		}
		p {
			font-size: 1.4em;
			line-height: 22px;
			margin-bottom: 20px;
			color: #3a3b3c;
		}
	}
}
.isi-main-content {
	font-size: 1rem;

	h3 {
		font-family: Lato,Arial,sans-serif;
		margin-bottom: 15px;
		color: #743470;
	}
	p {
		font-size: 1.6em;
		line-height: 24px;
		margin-bottom: 26px;
		color: #3a3b3c;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {
	/* STYLES GO HERE */
	.isi .isi-btn, .isi .isi-container {
		width: 100%;
	}
	.isi .isi-content h3 {
		font-size: 1.5em;
		line-height: 18px;
		margin-bottom: 10px;
	}
	.isi .isi-content p {
		font-size: 1.2em;
		line-height: 18px;
		margin-bottom: 15px;
	}
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) and (max-width: 767px) {
	/* STYLES GO HERE */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	/* STYLES GO HERE */
}
/* Tablets, iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	/* STYLES GO HERE */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}
/* Small screens ----------- */
@media only screen and (min-width: 676px) {
	/* STYLES GO HERE */
}
/* Small screens : Retina ----------- */
@media only screen and (min-width: 676px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}
/* Tablets, iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	/* STYLES GO HERE */
}
/* Tablets, iPads (landscape) - Retina ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}
/* Tablets, iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	/* STYLES GO HERE */
}
/* Tablets, iPads (portrait) - Retina ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
	/* STYLES GO HERE */
}
/* Desktops and laptops - Retina ----------- */
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}
/* Large screens : Non-Retina ----------- */
@media only screen and (min-width: 1824px) {
	/* STYLES GO HERE */
}
/* Large screens : Retina ----------- */
@media only screen and (min-width: 1824px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	/* STYLES GO HERE */
}