.wbmd-moreabout-masonry-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 1em;

  &.scaling {
    .wbmd-moreabout-masonry-grid {
      max-width: 980px;
      margin: 0 auto;
      text-align: center;

      .wbmd-grid-sizer,
      .wbmd-moreabout-grid-item {
        width: calc(100%/3 - 7px);
      }

      .wbmd-moreabout-grid-item {
        max-height: 313px;
        float: left;
        background: #FFF;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .125);
        text-align: left;
        margin-bottom: 10px;

        a {
          img {
            width: 100%;
          }

          p {
            height: 86px;
            font-size: 1em;
            padding: 10px 15px;
            color: #333;

            span {
              display: block;
              color: #999;
              padding-bottom: 3px;
              font-size: 0.875em;
            }
          }
        }

        &.visited {
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%); 
          -o-filter: grayscale(100%); 
          opacity: 0.5;
        }
      }
    }

    .wbmd-moreabout-masonry-grid:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &.wrapping {
    .wbmd-moreabout-masonry-grid {
      margin: 0 auto !important;
    }

    div.wbmd-moreabout-grid-item {
      min-height: 308px;
      float: left;
      background-color: #fff;
      margin: 0 0 10px 0 !important;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.125);

      &.tile-width {
        width: 320px;
      }

      &.tile-width-x2 {
        width: 650px;
      }

      &.tile-width-x3 {
        width: 980px;
      }

      a {
        img {
          width: 100%;
        }

        p {
          padding: 10px 15px;
          color: #333;

          span {
            display: block;
            color: #999;
            padding-bottom: 3px;
            text-transform: uppercase;
            font-size: 0.875em;
          }
        }
      }

      &.visited {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%); 
        -o-filter: grayscale(100%); 
        opacity: 0.5;
      }
    }
  }
}

.no-touch {
  div.wbmd-moreabout-grid-item {
    &.visited {
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;

      &:hover {
        -webkit-filter: grayscale(0%);
        -webkit-transition: .5s ease-in-out;
        -moz-filter: grayscale(0%);
        -moz-transition: .5s ease-in-out;
        -o-filter: grayscale(0%);
        -o-transition: .5s ease-in-out;
        opacity: 1;
      }
    }
  }
}


@media only screen and (max-width: 320px) {
  /* Styles */
  .wbmd-moreabout-masonry-container {

    h3.wbmd-moreabout-title {
      margin: 0 15px !important;
    }

    &.scaling {
      .wbmd-moreabout-masonry-grid {
        width: auto !important;

        .wbmd-moreabout-grid-item {
          width: 100% !important;
          min-height: inherit;
          height: auto;
        }
      }
    }

    &.wrapping {
      .wbmd-moreabout-masonry-grid {
        width: auto !important;

        .wbmd-moreabout-grid-item {
          width: 100% !important;
          min-height: inherit;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 675px) and (min-width: 320px) {
  /* Styles */
  .wbmd-moreabout-masonry-container {

    h3.wbmd-moreabout-title {
      margin: 0 15px !important;
    }

    &.scaling {
      .wbmd-moreabout-masonry-grid {
        width: auto;
        position: relative;

      .wbmd-moreabout-grid-item {
          width: 100% !important;
          height: auto;
          max-height: none;
        }
      }
    }

    &.wrapping {
      .wbmd-moreabout-masonry-grid {
        width: auto;
        position: relative;

      .wbmd-moreabout-grid-item {
          width: 100%;
          position: relative;
          min-height: inherit;
          height: auto;
          float: none;
          margin: 0 0 20px 0 !important;
          box-shadow: 0 1px 2px 0 rgba(0,0,0,.125);
        }
      }
    }
  }
}

@media only screen and (max-width: 675px) and (min-width: 320px) and (orientation: portrait) {
  /* Styles */
  .wbmd-moreabout-masonry-container {

    &.scaling {
      .wbmd-moreabout-masonry-grid {
        width: auto !important;

        .wbmd-moreabout-grid-item {
          width: 100% !important;
          height: auto;
          max-height: none;
        }
      }
    }

    &.wrapping {
      .wbmd-moreabout-masonry-grid {
        width: auto !important;

        .wbmd-moreabout-grid-item {
          width: 100% !important;
          min-height: auto;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 675px) and (min-width: 320px) and (orientation: landscape) {
  /* Styles */
  .wbmd-moreabout-masonry-container {
    padding-left: 10px;

    &.scaling {
      .wbmd-moreabout-masonry-grid {
        width: auto !important;

        .wbmd-moreabout-grid-item {
          width: 100% !important;
          min-height: auto;
          height: auto;
        }
      }
    }

    &.wrapping {
      .wbmd-moreabout-masonry-grid {
        width: auto !important;

        .wbmd-moreabout-grid-item {
          width: 100% !important;
          min-height: auto;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .wbmd-moreabout-masonry-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}