// Variables
@import '../partials/variables';

.article-nav-container {
  position: fixed;
  -webkit-backface-visibility: hidden;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  max-width: 980px;
  text-align: center;

  &.half-me {
    width: 50%;
    max-width: 490px;

    .article-nav {
      max-width: 490px !important;

      a {
        width: 100% !important;

        &.next {
          border: 0 !important;
        }
      }
    }
  }

  .article-nav {
    position: absolute;
    display: table;
    width: 100%;
    max-width: 980px;
    bottom: -200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid rgb(193,193,193);
    background-color: #fff;

    -webkit-transition: all 0.5s ease-in-out 0.5s;
    -moz-transition: all 0.5s ease-in-out 0.5s;
    -o-transition: all 0.5s ease-in-out 0.5s;
    -ms-transition: all 0.5s ease-in-out 0.5s;
    transition: all 0.5s ease-in-out 0.5s;

    &.show {
      bottom: -1px; /* hides bottom border */
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -o-transition-delay: 0s;
      -ms-transition-delay: 0s;
      transition-delay: 0s;
    }

    a {
      display: inline-table;
      width: 50%;
      height: 100%;
      table-layout: fixed;
    }

    a:hover {
      background-color: rgb(239,239,239);
    }

    .next, .prev {
      height: 100%;
    }

    .next {
      border-left: 1px solid rgb(182,182,182);

      .arrow {
        position: relative;
        float: right;
        border-right: 5px solid rgb(182,182,182);
        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
        transform: rotate(-45deg);
      }

      .text {}
    }

    .prev {
      float: left;

      .arrow {
        position: relative;
        float: left;
        border-left: 5px solid rgb(182,182,182);
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
      }

      .text {}
    }

    .arrow {
      margin: 30px 30px 25px 30px;
      width: 25px;
      height: 25px;
      opacity: 0.4;
      border-bottom: 5px solid rgb(182,182,182);
    }

    .text {
      position: relative;
      display: table-cell;
      width: 87%;
      font-size: 18px;
      text-align: center;
      vertical-align: middle;

      .nav {
        display: block;
        color: rgb(182,182,182);
      }

      .title {
        font-size: 24px;
        display: block;
        font-family: 'Lato';
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #333333;
        line-height: normal;
        overflow: hidden;
      }
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 736px) {
    .prev {
      .text span {
        float: right !important;
      }

      .arrow {
        left: -20px;
      }
    }

    .next {
      .text span {
        float: left !important;
      }

      .arrow {
        right: -20px;
      }
    }

    .text {
        font-size: 16px !important;
        padding: 5px 10px !important;
        height: 100% !important;
        vertical-align: initial;

        .nav, .title {
          font-size: 0.75em !important;
          width: 100% !important;
        }

        .nav {
          vertical-align: top !important;
        }
        .title {
          height: 60px !important;
        }
    }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
    /* STYLES GO HERE */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    /* STYLES GO HERE */
}
/* Tablets, iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* STYLES GO HERE */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}
/* Small screens ----------- */
@media only screen and (min-width: 676px) {
    /* STYLES GO HERE */
}
/* Small screens : Retina ----------- */
@media only screen and (min-width: 676px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}
/* Tablets, iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* STYLES GO HERE */
}
/* Tablets, iPads (landscape) - Retina ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}
/* Tablets, iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .prev {
      .text span {
        float: right !important;
      }

      .arrow {
        left: -10px;
      }
    }

    .next {
      .text span {
        float: left !important;
      }

      .arrow {
        right: -10px;
      }
    }

    .text {
        width: 94% important;
        padding: 10px 20px !important;
        height: 100%;
        vertical-align: initial;

        .nav, .title {
          font-size: 1em !important;
          width: 100% !important;
        }

        .nav {
          vertical-align: top;
        }
        .title {
          height: 60px;
        }
    }
}
/* Tablets, iPads (portrait) - Retina ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
    /* STYLES GO HERE */
}
/* Desktops and laptops - Retina ----------- */
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}
/* Large screens : Non-Retina ----------- */
@media only screen and (min-width: 1824px) {
    /* STYLES GO HERE */
}
/* Large screens : Retina ----------- */
@media only screen and (min-width: 1824px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}

