// Variables
@import '../partials/variables';
.article-list-container {
    position: relative;
    display: none;
    width: 100%;
    padding: 14px 5px;
    margin-bottom: 1em;
    background-color: #ffffff;
    border-top: 7px solid #f0f0f0;
    border-bottom: 1px solid #e2e3e4;

    .wbmd-segment {
      font-family: 'Lato', Arial, sans-serif;
      font-weight: bold;
      font-size: 1.2em;
      line-height: 1.2em;
      color: #333132;

      a {
        color: #333132;
      }
    }

    .wbmd-subhead {
      font-family: 'Roboto Condensed', Arial, sans-serif;
      font-size: 0.8em;
      text-transform: uppercase;
      color: #74b0b0;
      padding-top: 22px;
      padding-bottom: 10px;
    }

    .wbmd-nav-links {
      div {
        padding-top: 18px;

        a {
            display: block;
            font-family: 'Chivo', Arial, sans-serif;
            font-size: 1em;
            line-height: 1.2em;
            color: #3b3b3c;
            padding: 0;
            margin: 0;
        }
      }

      div:first-child {
        padding-top: 0px;
      }
      
    }

    .wbmd-see-all {
        display: none;
        padding-top: 22px;

        a {
            font-family: 'Chivo', Arial, sans-serif;
            font-size: 0.9em;
            color: #1b88bf;
        }
    }

    &.hide {
        display: none !important;
    }
}

.no-touch .article-list-container {
    a:hover {
        text-decoration: underline !important;
    }
}

.funded-editorial-see-all .article-list-container {
    display: none !important;
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 320px) and (max-width: 736px) {
    /* STYLES GO HERE */
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* STYLES GO HERE */
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* STYLES GO HERE */
}


/* Tablets, iPads (portrait and landscape) ----------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* STYLES GO HERE */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}


/* Small screens ----------- */

@media only screen and (min-width: 676px) {
    /* STYLES GO HERE */
    .article-list-container {
        display: block !important;
    }
}


/* Small screens : Retina ----------- */

@media only screen and (min-width: 676px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}


/* Tablets, iPads (landscape) ----------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* STYLES GO HERE */
}


/* Tablets, iPads (landscape) - Retina ----------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}


/* Tablets, iPads (portrait) ----------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /* STYLES GO HERE */
    .article-list-container {
        .article-list {
            .articles {
                .text {
                    padding: 10px 0px !important;
                }
            }
        }
    }
}


/* Tablets, iPads (portrait) - Retina ----------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1025px) {
    /* STYLES GO HERE */
}


/* Desktops and laptops - Retina ----------- */

@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}


/* Large screens : Non-Retina ----------- */

@media only screen and (min-width: 1824px) {
    /* STYLES GO HERE */
}


/* Large screens : Retina ----------- */

@media only screen and (min-width: 1824px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}
