/** * Rich Media Quiz */

$blue_color: #1b88bf;
$green_color: #6b9c2e;
$orange_color: #f67f00;
$red_color: #ff0000;
$grey_color: #dddddd;
$lato_font: 'Lato', sans-serif;

#rmq_header {
    position: relative;
    padding: 20px 0 10px 0;

    h2 {
	    color: #222;
	    font-family: $lato_font;
	    font-size: 34px;
	    font-weight: 400;
	}
}

#rmq_ad_placeholder {
    text-align: center;
}

#rmq_media {
    display: none;
}

.rich_media_quiz {
    position: relative;
    background: #fff;
    margin-bottom: 1em;
    width: 100%;
    visibility: hidden;

    h2, h3 {
	    color: #222;
	    font-family: $lato_font;
    }

    h2 {
	    font-size: 24px;
	    font-weight: normal;
    }

    #rmq_scorebox {
	    font-family: $lato_font;
	    padding: 0 20px;
	    text-align: right;

		.score_text {
		    color: #666;
		    display: block;
		    font-size: 14px;
		    line-height: 2em;
		    padding: 0.25em 0 0.25em 0.25em;

		    span {
			    font-size: 18px;
			    position: relative;
			    padding-left: 36px;

			    &:before {
				    font-size: 36px;
				    position: absolute;
				    left: 0;
				    top: 50%;
				    margin-top: -18px;
				}

				&.score_num_correct:before {
				    color: $green_color;
				}

				&.score_num_incorrect:before {
				    color: $red_color;
				}
			}
		}
	}

	#rmq_slides {
	    margin: 0;
	    padding: 0;
	    list-style: none;

    	.slide {
		    position: relative;
		    z-index: 1;
		    width: 100%;
		    margin: 0;
		    padding: 0;

			.slide_content {
	    		.slide_media {
	    			position: relative;

					img {
					    display: none;
					    visibility: hidden;
					    width: 100%;
					    height: auto;
					    max-height: 346px;
					}

					.slide_question {
						position: relative;
					}

					img + .slide_question {
						position: absolute;
					}

					.slide_controls {
					    position: absolute;
					    bottom: 0;
					    left: 0;
					    width: 100%;
					    top: 100%;
					    z-index: 2;

						ul {
						    list-style: none;
						    width: auto;

						    li:first-child {
						    	float: left;
						    }

						    li:last-child {
						    	float: right;
						    }
						}

						li {
						    width: auto;
						    height: 48px;
						    margin: 0;
						}

						.rmq_prev, .rmq_next {
						    color: #fff;
						    display: block;
						    width: 32px;
						    height: 100%;
						    font-size: 20px;
						    text-align: center;

						    span:before {
							    line-height: 48px;
							}
						}

						.rmq_prev {
						    float: left;
						    background-color: #87868a;
						}

						.rmq_next {
						    float: right;
						    background-color: $blue_color;
						}

						.disabled {
						    display: none;
						}
					}

					.slide_question {
					    -webkit-box-sizing: border-box;
					    -moz-box-sizing: border-box;
					    box-sizing: border-box;
					    bottom: 0;
					    width: 100%;
					    margin: 0;
					    padding: 20px 45px;
					    background: rgb(255, 255, 255);
					    background: rgba(255, 255, 255, 0.8);
					    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff, endColorstr=#ccffffff);
					    zoom: 1;

					    &.noimg {
						    position: relative;
						}

						.rmq_progress {
						    color: #666;
						    font-family: $lato_font;
						    font-size: 12px;
						    text-transform: uppercase;
						    margin-bottom: 0.5em;
						}

						h3 {
						    font-size: 22px;
						    /* font-size: 2.2rem; */
						    line-height: 1.5em;
						}

						h3:nth-child(n) {
						    -webkit-filter: none;
						    filter: none;
						}
					}
				}

				.slide_text {
				    background: #fff;
				    position: relative;
				    padding: 1.6em 45px;

				    .radio_inputs {
					    margin: 20px 0 2.5em 0;
					    z-index: 1000;

						li {
						    cursor: pointer;
						    padding-bottom: 10px;
						    vertical-align: middle;

						    &:before {
							    display: inline-block;
							    font-family: 'icons';
							    font-size: 64px;
							    color: #fff;
							    border-top-left-radius: 50%;
							    border-top-right-radius: 50%;
							    border-bottom-left-radius: 50%;
							    border-bottom-right-radius: 50%;
							    text-align: center;
							    vertical-align: middle;
							    margin-right: 10px;
							}

							&.active {
						    	.input {
								    background: $blue_color;
								    color: #fff;
								}
						    }
						}

						a {
						    display: block;
						    overflow: hidden;

							.input {
							    color: #797979;
							    font-family: $lato_font;
							    float: left;
							    display: block;
							    width: 64px;
							    height: 64px;
							    background: $grey_color;
							    border-top-left-radius: 50%;
							    border-top-right-radius: 50%;
							    border-bottom-left-radius: 50%;
							    border-bottom-right-radius: 50%;
							    text-align: center;
							    line-height: 64px;
							    font-size: 28px;
							    font-weight: lighter;
							}
						}

						input {
						    display: none;
						}

						p {
						    color: #222;
						    padding: 0 0 0 15px;
						    width: auto;
						    height: 64px;
						    font-size: 22px;
						    line-height: 1.4em;
						    display: table-cell;
							vertical-align: middle;
						}
					}

					.rmq_answers {
						margin: 20px 0 2.5em 0;

						.answer_text {
							p {
					    		display: inline;
					    	}
					    }

					    .answer_expl {
						    clear: left;
						    display: none;
						    position: relative;

						    .expl_content {
								p {
								    font-size: 15px;
								    margin: 1em 0;
								}
							}
						}

						.user_answer {
						    font-family: $lato_font;
						    font-size: 20px;
						}

						.incorrect, .correct {
							display: block;
							width: auto;
						    height: auto;
						    min-height:64px;
						    margin: 20px 0 3em 0;

							&:before {
							    float: left;
							    font-family: 'icons';
							    font-size: 64px;
							    color: #fff;
							    border-top-left-radius: 50%;
							    border-top-right-radius: 50%;
							    border-bottom-left-radius: 50%;
							    border-bottom-right-radius: 50%;
							    margin-right: 10px;
							    vertical-align: middle;
							}
						}

						.incorrect {
						    color: $red_color;

						    &:before {
						    	background: $red_color;
						    }
						}

						.correct {
						    color: $green_color;

						    &:before {
						    	background: $green_color;
						    }
						}

						.correct_answer {
							display: none;
						    font-size: 19px;
						}
					}
				}
			}

			&.interstitial {
				.slide_content {
				    margin-bottom: 3em;
				}

				.ad_label {
				    width: 300px;
				    margin: 0 auto;
				    text-align: center;
				    text-transform: uppercase;
				    font-size: 10px;
				    /* font-size: 1rem; */
				    color: #808184;
				}

				.slide_text {
				    padding: 1em 0;
				}

				h3 {
				    color: #322e32;
				    font-size: 18px;
				    /* font-size: 1.8rem; */
				    padding: 0 45px 3em 45px;
				}
			}

			&.results {
				#rmq_total_pct, #rmq_total_rank {
				    color: #252525;
				    display: none;
				    font-family: $lato_font;
				    font-size: 24px;
				}

				#rmq_total_pct {
					.score_pct {
					    font-weight: bold;
					    font-size: 24px;
					}

					.score_text {
					    color: #222;
					    font-family: $lato_font;
					    font-size: 20px;
					    margin-top: 2em;
					}
				}

				#rmq_total_rank {
					.score_rank {
					    font-weight: bold;
					}
				}

				.rmq_results {
				    padding: 10px 0;

					p {
					    font-size: 15px;
					}
				}

				#results_controls {
				    padding-top: 10px;
				    overflow: auto;

					.rmq_retake {
					    background: $blue_color;
					    color: #fff;
					    border-top-left-radius: 4px;
					    border-top-right-radius: 4px;
					    border-bottom-left-radius: 4px;
					    border-bottom-right-radius: 4px;
					    display: block;
					    float: left;
					    line-height: 44px;
					    overflow: hidden;
					    margin: 0 40px 20px 0;
					    padding: 0 20px;
					    font-family: $lato_font;
					    font-size: 14px;
					}

					.rmq_social_ico {
					    display: block;
					    background-position: 0 50%;
					    background-repeat: no-repeat;
					    float: left;
					    margin: 0 20px 0 0;
					    width: 30px;
					    height: 44px;
					}

					.rmq_results_fb {
					    background-image: url('../img/rmq-facebook.png');
					}

					.rmq_results_tw {
					    background-image: url('../img/rmq-twitter.png');
					}

					.rmq_next_article {
						display: inline-block;
						visibility: hidden;

						.text {
							float: left;
							width: 219px;

							.wbmd-subhead {
								display: block;
								font-family: 'Roboto Condensed', Arial, sans-serif;
						        font-size: 0.8em;
						        text-transform: uppercase;
						        color: #74b0b0;
						        padding-bottom: 10px;
							}

							.wbmd-title {
								display: block;
				                font-family: 'Chivo', Arial, sans-serif;
				                font-size: 1em;
				                line-height: 1.2em;
				                color: #3b3b3c;
							}
						}

						&:after {
							float: right;
							font-family: 'icons';
							font-size: 27px;
      						color: #c9c9c9;
      						content: "\e61b";
      						margin: 10px 0 0 15px;
						}
					}
				}
			}
		}
	}

	.rmq_footer {
	    color: #666;
	    font-size: 14px;
	    padding: 1em 0 1.5em;
	    border-top: 1px solid #eee;

	    &:last-child {
		    margin-bottom: 0;
		    padding-bottom: 0;
		}

		p {
		    font-size: 14px;
		    margin: 0.2em 0;
		    padding: 0 20px;
		}

		#sources_fmt, #disclaimer_fmt {
			display: none;
    		margin: 2em 0;

		    .uppercase {
			    text-transform: uppercase;
			}

			p {
			    margin: 0.25em 0;
			}
		}

		#sources_fmt {
			.references {
			    margin-top: 2em;
			}
		}
	}
}

.no-touch :hover {
	#rmq_slides {
		.slide {
			.input {
			    background: $blue_color;
			    color: #fff;
			}
		}
	}
}

.top_picks,
.guide_nav_toc,
.newsletterSignup,
.newsletters-module,
.further_reading,
.td_related {
    display: none;
}



/* Media Queries */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 675px) {
	#rmq_header {
		h2 {
			font-size: 20px;
		}
	}

	.rich_media_quiz {
		#rmq_slides {
			.slide {
				.slide_content {
			    	.slide_media {
			    		.slide_question {
			    			position: relative !important;
			    			padding: 20px 35px;
			    			background-color: #eee;

			    			h3 {
			    				font-size: 1em;
			    			}
			    		}
			    	}

			    	.slide_text {
			    		padding: 1.6em 35px;

					    .radio_inputs {
						    margin: 10px 0 1.25em 0;

							a {
								.input {
								    width: 40px;
								    height: 40px;
								    line-height: 40px;
								    font-size: 20px;
								}
							}

							p {
							    padding: 0 0 0 15px;
							    font-size: 16px;
							    height: 40px;
							}
						}

						.rmq_answers {
							.user_answer {
							    font-size: 16px;
							}
							.incorrect, .correct {
								margin: 10px 0 1.25em 0;
								min-height:40px;

						    	&:before {
								    font-size: 40px;
								}
							}
						}
					}
			    }

			    &.interstitial {
					.slide_text {
						padding: 1.6em 10px  !important;
					}
				}
			}
		}
	}

	.bottom_ad_rdr {
	    margin: 0 0 10px;
	    width: 320px;
	    left: 50%;
	    margin-left: -160px;
	    float: left;
	    display: block;
	    position: relative;
	}
}

@media only screen and (min-width: 321px) and (max-width: 767px) {
	#rmq_header {
		h2 {
			font-size: 1.75em;
		}
	}

	.rich_media_quiz {
		#rmq_slides {
			.slide {
				.slide_content {
			    	.slide_media {
			    		.slide_question {
			    			position: relative !important;
			    			padding: 20px 35px;
			    			background-color: #eee;

			    			h3 {
			    				font-size: 1em;
			    			}
			    		}
			    	}

			    	.slide_text {
			    		padding: 1.6em 35px;

					    .radio_inputs {
						    margin: 10px 0 1.25em 0;

							a {
								.input {
								    width: 40px;
								    height: 40px;
								    line-height: 40px;
								    font-size: 20px;
								}
							}

							p {
							    padding: 0 0 0 15px;
							    font-size: 16px;
							    height: 40px;
							}
						}

						.rmq_answers {
							.user_answer {
							    font-size: 16px;
							}

							.incorrect, .correct {
								margin: 10px 0 1.25em 0;
								min-height:40px;

						    	&:before {
								    font-size: 40px;
								}
							}
						}
					}
		    	}
			}
		}
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
    /* STYLES GO HERE */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    /* STYLES GO HERE */
}
/* Tablets, iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	/* STYLES GO HERE */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}
/* Small screens ----------- */
@media only screen and (min-width: 676px) {
    /* STYLES GO HERE */
}
/* Small screens : Retina ----------- */
@media only screen and (min-width: 676px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}
/* Tablets, iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* STYLES GO HERE */
}
/* Tablets, iPads (landscape) - Retina ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}
/* Tablets, iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /* STYLES GO HERE */

    .rich_media_quiz {
		#rmq_slides {
			.slide {
				.slide_content {
			    	.slide_media {
			    		.slide_question {
			    			position: relative !important;
			    			padding: 20px 45px;
			    			background-color: #eee;

			    			h3 {
			    				font-size: 1em;
			    			}
			    		}
			    	}

			    	.slide_text {
					    .radio_inputs {
						    margin: 10px 0 1.25em 0;

							a {
								.input {
								    width: 50px;
								    height: 50px;
								    line-height: 50px;
								    font-size: 24px;
								}
							}

							p {
							    padding: 0 0 0 15px;
							    font-size: 22px;
							    height: 50px;
							}
						}

						.rmq_answers {
							.incorrect, .correct {
								margin: 10px 0 1.25em 0;
								min-height:50px;

								&:before {
								    font-size: 50px;
								}
							}
						}
					}
		    	}
			}
		}
	}
}
/* Tablets, iPads (portrait) - Retina ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
    /* STYLES GO HERE */
}
/* Desktops and laptops - Retina ----------- */
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}
/* Large screens : Non-Retina ----------- */
@media only screen and (min-width: 1824px) {
    /* STYLES GO HERE */
}
/* Large screens : Retina ----------- */
@media only screen and (min-width: 1824px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* STYLES GO HERE */
}
