.social-share-tools {
	margin: 10px 0;
	float: left;
}
.social-share-tools .plugin-socialshare a.plugin-socialshare-link {
	margin: 0 10px 0 0;
	width: 40px;
	height: 40px;
}
.social-share-tools .plugin-socialshare a.plugin-socialshare-link:before {
	font-size: 40px;
}
.social-share-tools .plugin-socialshare a.plugin-socialshare-email {
	margin-left: 20px;
}
.ua_type_mobile .social-share-tools .plugin-socialshare-email {
	display: none;
}