$blue_color: #1b88bf;

.wbmd-tips {
	position: relative;
	margin-bottom: 1em;
	width: 100%;
	max-height: 313px; /* tile height for TOC */
	font-family: 'Lato-Regular', Arial, sans-serif;
	font-size: 1rem;
	color: #000;
	background-color: #f9f9f9 !important;

	#tips_slides {
		display: none;
		height: auto;
		margin: 0;
		padding: 0;
		list-style: none;

		.slide {
			position: relative;
			z-index: 1;
			width: 100%;
			margin: 0;
			padding: 0;

			.slide_content {
				.slide_text {
					padding: 20px 40px;
					position: relative;

					h3 {
						font-family: 'Lato-Regular', Arial, sans-serif;
						font-size: 2em;
						color: #333132;
						line-height: 26px;
						margin-bottom: 10px;
					}

					div {
						font-family: 'Lato-Regular', Arial, sans-serif;
						font-size: 1.6em;
						color: #3b3b3c;
						line-height: 22px;
						margin-bottom: 10px;
					}

					a {
						font-family: 'Lato-Regular', Arial, sans-serif;
						font-size: 1.6em;
						color: $blue-color;
						line-height: 22px;
					}

					.slide_link_bar {
						overflow: hidden;
						margin: 0;

						.read_more_link {
							float: left;
						}
						.source_toggle {
							float: right;
							font-size: 0.75em;
						}
					}

					.slide_src {
						position: absolute;
						bottom: 0;
						left: 40px;
						right: 40px;
						background: #fff;
						top: 100%;
						overflow: hidden;
						margin: 0;
						transition: top 500ms, opacity 300ms;
						opacity: 0;

						&.show {
							top: 20%;
							padding-top: 50px;
							overflow: auto;
							opacity: 1;
						}

						i.slide_src_close {
							position: absolute;
							top: 5px;
							right: 5px;
							font-size: 3em;
							cursor: pointer;
						}

						.slide_src_title {
							position: absolute;
							top: 17px;
							left: 10px;
							font-size: 0.7em;
							font-weight: bold;
						}

						.slide_src_text {
							padding: 0 10px;
							font-size: 0.75em;
							line-height: 1.3
						}
					}
				}
			}
		}
	}

	.slide_controls {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 50px;
		top: 40%;
		z-index: 1000;

		ul {
			list-style: none;
			width: auto;

			li {
				width: auto;
				height: 50px;
				margin: 0;
			}

			li:first-child {
				float: left;
			}

			li:last-child {
				float: right;
			}
		}

		.tips_prev, .tips_next {
			background-color: $blue_color;
			color: #fff;
			display: block;
			width: 30px;
			height: 100%;
			font-size: 20px;
			text-align: center;

			span:before {
				color: #ffffff !important;
				line-height: 48px;
			}
		}

		.tips_prev {
			float: left;
		}

		.tips_next {
			float: right;
		}
	}

	.bx-has-pager {
		position: absolute;
		display: block;
		width: 100%;
		font-family: 'Lato-Regular', Arial, sans-serif;
		font-size: 14px;
		color: #808080;
		line-height: 22px;
		text-align: center;
		bottom: 0;
	}
}

@media only screen and (min-width: 320px) and (max-width: 675px) {
	.wbmd-tips {
		max-height: 100% !important;
	}
}
