$blue_color: #1b88bf;

.wbmd-tips {
	position: relative;
    margin-bottom: 1em;
    width: 100%;
	font-family: 'Lato-Regular', Arial, sans-serif;
	color: #000;
	background-color: #f9f9f9 !important;

	#tips_slides {
		display: none;
		height: 310px;
		margin: 0;
	    padding: 0;
	    list-style: none;

		.slide {
			position: relative;
		    z-index: 1;
		    width: 100%;
		    margin: 0;
		    padding: 0;

			.slide_content {
				.slide_media {
					position: relative;

					.slide_controls {
						position: absolute;
					    bottom: 0;
					    left: 0;
					    width: 100%;
					    top: 135px;
					    z-index: 2;

					    ul {
						    list-style: none;
						    width: auto;

						    li {
							    width: auto;
							    height: 50px;
							    margin: 0;
							}

							li:first-child {
						    	float: left;
						    }

						    li:last-child {
						    	float: right;
						    }
						}

						.tips_prev, .tips_next {
						    background-color: $blue_color;
						    color: #fff;
						    display: block;
						    width: 30px;
						    height: 100%;
						    font-size: 20px;
						    text-align: center;

						    span:before {
							    line-height: 48px;
							}
						}

						.tips_prev {
						    float: left;
						}

						.tips_next {
						    float: right;
						}
					}
				}

				.slide_text {
					padding: 20px 40px;

					h3 {
						font-family: 'Lato-Regular', Arial, sans-serif;
						font-size: 20px;
						color: #333132;
						line-height: 26px;
						margin-bottom: 10px;
					}

					div {
						font-family: 'Lato-Regular', Arial, sans-serif;
						font-size: 16px;
						color: #3b3b3c;
						line-height: 22px;
						margin-bottom: 10px;
					}

					a {
						font-family: 'Lato-Regular', Arial, sans-serif;
						font-size: 16px;
						color: $blue-color;
						line-height: 22px;
					}
				}
			}
		}
	}

	.bx-has-pager {
		display: block;
		width: 100%;
		font-family: 'Lato-Regular', Arial, sans-serif;
		font-size: 14px;
		color: #808080;
		line-height: 22px;
		text-align: center;
		margin-bottom: 20px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 675px) {
    .wbmd-tips {
		#tips_slides {
			.slide {
				.slide_content {
					.slide_media {
						.slide_controls {
							top: 100px;
						}
					}
				}
			}
		}
	}
}