// Variables
@import '../partials/variables';
.up-next-container {
	position: relative;
	display: none;
	width: 100%;
	padding: 14px 5px;
	margin-bottom: 25px;
	background-color: #ffffff;
	border-top: 7px solid #f0f0f0;
	border-bottom: 1px solid #e2e3e4;
	font-size: 1rem;
	&.plus-segments {
		margin-bottom: 0 !important;
	}
	&.plus-video {
		margin-bottom: 10px !important;
	}
	.wbmd-segment {
		font-family: 'Lato', Arial, sans-serif;
		font-weight: bold;
		font-size: 1.8em;
		line-height: 22px;
		color: #333132;
		a {
			color: #333132;
		}
	}
	.wbmd-subhead {
		font-family: 'Roboto Condensed', Arial, sans-serif;
		font-size: 1.2em;
		text-transform: uppercase;
		color: #74b0b0;
		padding-top: 22px;
		padding-bottom: 10px;
	}
	.wbmd-nav-links {
		div {
			padding-top: 18px;
			a {
				display: block;
				font-family: 'Chivo', Arial, sans-serif;
				font-size: 1.6em;
				line-height: 21px;
				color: #3b3b3c;
				padding: 0;
				margin: 0;
			}
		}
		div:first-child {
			padding-top: 0px;
		}
	}
	.wbmd-see-all {
		display: none;
		padding-top: 22px;
		a {
			font-family: 'Chivo', Arial, sans-serif;
			font-size: 1.4em;
			line-height: 22px;
			color: #1b88bf;
		}
	}
	&.hide {
		display: none !important;
	}
}

.wbmd-upnext-segments {
	position: relative;
	background-color: #ffffff;
	width: 100%;
	> div:last-child {
		margin-bottom: 1em;
	}
	.wbmd-segment-container {
		border-bottom: 1px solid #e2e3e4;
		.wbmd-segment {
			width: 100%;
			padding: 14px 5px;
			a.wbmd-segment-title {
				font-family: 'Lato', Arial, sans-serif;
				font-weight: bold;
				font-size: 1.8em;
				line-height: 22px;
				color: #333132;
			}
		}
	}
}

.wbmd-menu-content {
	padding: 14px;
	.up-next-container {
		padding: 0px 35px 14px 0px;
		border-top: none;
		.wbmd-segment {
			font-size: 1.8em;
			line-height: 22px;
		}
		.wbmd-subhead {
			font-size: 1.2em;
		}
		.wbmd-nav-links {
			div {
				padding-top: 22px;
				a {
					font-size: 1.6em;
					line-height: 21px;
				}
			}
			div:first-child {
				padding-top: 0px;
			}
		}
	}
	.wbmd-upnext-segments {
		.wbmd-segment-container {
			padding: 14px 35px 14px 0px;
			.wbmd-segment {
				padding: 0;
				a.wbmd-segment-title {
					font-family: 'Lato', Arial, sans-serif;
					font-size: 1.8em;
					line-height: 22px;
				}
			}
		}
	}
}

.no-touch .up-next-container,
.no-touch .wbmd-upnext-segments {
	a:hover {
		text-decoration: underline !important;
	}
}

.funded-editorial-see-all .up-next-container,
.funded-editorial-see-all .wbmd-upnext-segments {
	display: none !important;
}

.wbmd-see-all-videos a{
	border-radius: 3px;
	border: 1px solid #187AAB;
	color: #187AAB;
	display: inline-block;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 16px;
	margin: 6px 0 16px 0;
	padding: 10px;
	text-align: center;
	&:hover {
		background-color: #187AAB;
		color: #ffffff !important;
		text-decoration: none;
	}
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 320px) and (max-width: 767px) {
	/* STYLES GO HERE */
	.funded-editorial {
		.up-next-container {
			display: none;
		}
		.wbmd-upnext-segments {
			display: none;
		}
	}
}


/* Tablets, iPads (portrait and landscape) ----------- */

@media only screen and (min-width: 768px) {
	/* STYLES GO HERE */
	html:not(.funded-editorial-see-all) {
		.up-next-container {
			display: block !important;
		}
		.wbmd-upnext-segments {
			display: block !important;
		}
	}
}


/* Tablets, iPads (portrait) ----------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	/* STYLES GO HERE */
	.up-next-container {
		.article-list {
			.articles {
				.text {
					padding: 10px 0px !important;
				}
			}
		}
	}
}
